
html{ scroll-behavior: smooth;
    transition: scroll-behavior 3s;
}
body {
  width:100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
  background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
}
body.lock{
  overflow:hidden;
}     
a{text-decoration: none;}      
.wrapper{
  height:100%;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
  -moz-box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
  box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
}
header{
  width:100%;
  position:fixed;
  top:0;
  z-index: 10;
  overflow: hidden;
}
.container {
max-width: 1200px;
width: 100%;
margin-right: auto;
margin-left: auto;}
.top-container{
  margin-left: 0;
  margin-right: 0;
  height: 60px;
  z-index: 10;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
  -webkit-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
  -moz-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
  box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
}
#name{z-index: 11;}
h1{margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size:55px;
  font-style: italic;
  color: #243058;}
.menu-link{
  color:white;
  font-size:20px;
  letter-spacing: 2px;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;}

  .menu-list li a:hover{
    color: silver;
    text-decoration: underline;
   }
.menu-list li{
list-style-type: none;
margin-left: 10px;
margin-right: 10px;}
.menu-list{
  display: flex;
}  
.header-menu {display: flex;}
.nav-icon{
  display: none;
}


  .anchor {
    padding-top: 55px;
    margin-top: -55px;
        }

.CVbody {
    margin: 0 auto;
    margin-top: 60px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 21px;
    max-width:1200px;
    height: 100%;
    z-index: 2;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     } 

aside{
    background-color: #243058;
    color:bisque;
    width:30%;
    flex-shrink: 2;
  }
aside h2{box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);}

#my-photo {
  width: 100%;
  height: auto;
}

#skills li img{
margin-right: 5px;
 }


main{display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 68%;
  flex-shrink: 1;}

  #name, 
  #contacts,
  #contacts a, 
  footer a{color: #e8f7f4;}   
  
  #contacts {margin-top: 10px;}                                     
  
  .iconpic { width: 10%;
    height: auto;}
  
  h2{
      font-size:25px;
      font-variant:small-caps;
      background: linear-gradient(45deg, rgba(247,183,174,0) 0%, rgba(224,3,18,1) 100%);
     }
  h3, h4, h5, p{margin:0;}
  
  
  #contacts>ul>li {font-size:25px;}
  article {text-align: center;
  width:100%;}
  section {width:100%;}
  pre{margin-bottom: 0;}
  code{font-size:18px;
  white-space: pre-wrap;
word-break: break-all;} 
  .codewars{margin-top: -25px;
  margin-bottom: 20px;}
  .codewars a{
    display: flex;
    align-items: center;
    cursor: pointer;
    color:black;
  }
  .codewars p{
    margin-left: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
  }
  .projects{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    margin-bottom: 25px;
    display: flex;
  justify-content: space-between;
  background-color:whitesmoke;
  box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
  }
  .text{
  width:50%;
  height: 100%;}
  .poster{width:80%;
  position:relative;}
  .projects h3{
    background: rgb(228,209,212);
    background: linear-gradient(90deg, rgba(228,209,212,1) 0%, rgba(200,64,217,1) 44%, rgba(84,16,130,1) 100%);}
  
  .description{
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
  }
  .project-pic, .cover-poster{
    width: 100%;
    height: auto;
  }
  .cover-poster{
    position:absolute;
    top:0;
    height: 100%;
    background-color: chartreuse;
  }
  .projects p{margin-top:10px;}
  .tags{display: flex;
    flex-wrap: wrap;
  margin-top: 10px;
padding:0;}
  .tags li{list-style: none;
    font-size: 15px;
    font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: bisque;
  background-color: rgba(84,16,130,1);
  }
  #f-logo { width: 10%;
    height: auto;}
  footer {
    height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; 
      background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
      -webkit-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
  -moz-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
  box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  }
  time {
      font-size:20px;
      font-weight: bold;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }



      @media  screen and (max-width:1115px){
        h1 {font-size:42px;}
      }
      @media  screen and (max-width:1059px){
        h1 {font-size:40px;}
        .menu-link {font-size:17px;
          transition: 0.5s;}
      }
      @media  screen and (max-width:960px){
        h1 {font-size:34px;}
        .menu-list li{margin-left: 5px;
          margin-right: 5px;}
      }
      @media  screen and (max-width:900px){
        h1 {font-size:30px;}
        .menu-list {padding-right: 0;
          transition: 0.5s;}
       
        .menu-link {font-size:12px;
          transition: 0.5s;}
      }
      @media  screen and (max-width:784px){
        .menu-list {padding-right: 0;
          transition: 0.5s;}
      }

      @media screen and (max-width:769px){
        .nav-icon{
          display: block;
          z-index: 20;
          position: relative;
          width:50px;
          height: 18px;
          cursor:pointer;
          margin-right: 20px;
        }
        .nav-icon span,
        .nav-icon::before,
        .nav-icon::after{
          left:0;
          position:absolute;
          height: 10%;
          width:100%;
          transition: all 0.4s ease-in 0s;
          background-color: white;
        }
        .nav-icon::before,
        .nav-icon::after{
          content: '';
        }
        .nav-icon::before{
          top:0;
        }
        .nav-icon::after{
          bottom:0;
        }
        .nav-icon span{
          top:50%;
          transform: scale(1) translate(0, -50%);
        }
        .nav-icon.active span{
          transform: scale(0) translate(0,-50%);
        }
        .nav-icon.active::before{
          top:50%;
          transform: rotate(-45deg) translate(0,-50%);
        }
        .nav-icon.active::after{
          bottom:50%;
          transform: rotate(45deg) translate(0,50%);
        }
        .menu-body{
          position: fixed;
          top:-150%;
          right:0;
          width: 40%;
          height: 80%;
          background-color:rgba(12, 22, 29, 0.9);
          padding: 100px 30px 30px 30px;
          transition: top 0.7s ease 0s;
          letter-spacing: 2px;
          overflow: auto ;
          margin:0;
        }
        .menu-list{display: block;
        padding-left: 0;}
        .menu-link{
          font-size: 25px;
          transition: 0.5s;
          }
       .menu-link:hover{
          font-size: 3em;
          transition:all 0.2s;
              }
       
      
        .menu-body.active{top:0;
        padding-top: 60px;}
      
        .menu-body::before{
          z-index: 5;
          content: '';
          position:fixed;
          width: 100%;
          top:0;
          left:0;
          height: 60px;
          background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
          -webkit-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
        -moz-box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
        box-shadow: 0px 7px 48px 0px rgba(12, 22, 29, 0.5);
        }
        #contacts>ul>li {font-size: 1em;}
        .projects{
          display:flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        .text{width:100%;}
        .poster{width:100%;}
      }
      @media  screen and (max-width:640px){
        .menu-body{width:60%;}
      }
      @media  screen and (max-width:600px){
        .CVbody {flex-direction: column;flex-wrap: wrap;}
        h2, h3, h4, aside, article, section, footer {font-size: 1.3em;}
        aside{width:100%;}
        main{width:100%;
        padding-left: 0;}
        #contacts>ul>li {font-size: 1em;}
        .description{font-size: 1em;}
        .menu-body{width:90%;}
        .menu-link{
          font-size: 35px;
        }
        
      }
      @media  screen and (max-width:425px){
        #contacts>ul>li {font-size: 1em;}
        .description{font-size: 1em;}
        .menu-link{
          font-size: 2em;
        }
        .menu-list{overflow: auto;}
        .codewars p{
          font-size: 20px;
        }
      }
      @media  screen and (max-width:376px){
        h2, h3, h4, aside, article, section, footer {font-size: 1em;}
        .menu-link{
          font-size: 1.5em;
        }
        .menu-link:hover{
          font-size: 2em;
          transition:all 0.5s;
              }
        }
        @media  screen and (max-width:320px){
          footer {font-size:12px;}
        }