html{ scroll-behavior: smooth;
    transition: scroll-behavior 3s;
}
body {
    margin: 0 auto;
    font-family: serif;
    -webkit-box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
    -moz-box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
    box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
     }

body .lock{
  overflow:hidden;
}     
a{text-decoration: none;}      
.wrapper{
  margin:0 auto;
  display: flex;
  flex-direction: column;
}
header{
  width:100%;
}
.top-container{
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position:fixed;
  top:0;
  z-index: 10;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
  -webkit-box-shadow: 9px 0px 8px 0px rgba(12, 22, 29, 0.5);
  -moz-box-shadow: 9px 0px 8px 0px rgba(12, 22, 29, 0.5);
  box-shadow: 9px 0px 8px 0px rgba(12, 22, 29, 0.5);
  width: 100%;
  max-width: inherit;
}
#name{z-index: 11;}
h1{margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size:10vh;
  font-style: italic;
  color: #243058;}


@media  screen and (max-width:1003px){
  h1 {font-size:8vh;
  transition: 0.3s;}
}  

@media  screen and (max-width:883px){
  h1 {font-size:6vh;
  transition: 0.3s;}
} 

.header-menu{display: flex;
align-items: center;}

.menu-body{margin-right: 20px;
}
.menu-list{margin: 0;
padding: 0;}

.menu-list>li{
  position:relative;
  margin-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  list-style:none;
}
.menu-list li a{
  color:white;
  font-size:20px;
}
.menu-list li a:hover{
 color: silver;
}
.nav-icon{
  display: none;
}
@media screen and (min-width:782px){
  .menu-list{
    display:flex;
    align-items: center;
    padding: 0;
  }
  .menu-list>li{
    padding:10px 0;
  }
}
@media screen and (max-width:781px){
  .nav-icon{
    display: block;
    z-index: 20;
    position: relative;
    width:50px;
    height: 18px;
    cursor:pointer;
    margin-right: 20px;
  }
  .nav-icon span,
  .nav-icon::before,
  .nav-icon::after{
    left:0;
    position:absolute;
    height: 10%;
    width:100%;
    transition: all 0.4s ease-in 0s;
    background-color: white;
  }
  .nav-icon::before,
  .nav-icon::after{
    content: '';
  }
  .nav-icon::before{
    top:0;
  }
  .nav-icon::after{
    bottom:0;
  }
  .nav-icon span{
    top:50%;
    transform: scale(1) translate(0, -50%);
  }
  .nav-icon.active span{
    transform: scale(0) translate(0,-50%);
  }
  .nav-icon.active::before{
    top:50%;
    transform: rotate(-45deg) translate(0,-50%);
  }
  .nav-icon.active::after{
    bottom:50%;
    transform: rotate(45deg) translate(0,50%);
  }
  .menu-body{
    position: fixed;
    top:-100%;
    right:0;
    width: 320px;
    height: 250px;
    background-color:rgba(12, 22, 29, 0.8);
    padding: 100px 30px 30px 30px;
    transition: top 0.7s ease 0s;
    font-size: 30px;
    letter-spacing: 2px;
    overflow: auto ;
    margin:0;
  }
  .menu-body.active.menu-link:hover{
    color:silver;
    background-color: slategray;
  }
  .menu-body.active{top:0;}
  .menu-body::before{
    z-index: 5;
    content: '';
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    height: 60px;
    background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
  }

}
.anchor {
    padding-top: 55px;
    margin-top: -55px;
        }

.CVbody {
    margin-top: 60px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    width:100%;
    z-index: 2;
     } 


aside{
    background-color: #243058;
    height: 100%;
    color:bisque;
    flex-shrink: 1;
    /*width:30vw;*/
  }
aside h2{box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);}

#my-photo {
  width: 100%;
  height: auto;
}

#name, 
#contacts,
#contacts a, 
footer a{color: #e8f7f4;}   

#contacts {margin-top: 10px;}                                     

.iconpic { width: 10%;
  height: auto;}
main{display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-shrink: 1;}
h2{
    font-size:25px;
    font-variant:small-caps;
    background: linear-gradient(45deg, rgba(247,183,174,0) 0%, rgba(224,3,18,1) 100%);
   }
h3, h4, h5, p{margin:0;}


#contacts>ul>li {font-size:20px;}
main{margin-left: 25px;}
article {text-align: center;}
.CVbody {
    font-size: 20px;
    background: #EDE8F6;
   }
code{font-size:15px;}       



.projects{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  margin-bottom: 15px;
  display: flex;
justify-content: space-between;
background-color: azure;
box-shadow: 9px 11px 8px 0px rgba(12, 22, 29, 0.5);
}

.projects h3{background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);}

.description{
  font-size: 15px;
  font-weight: 600;
  font-variant: small-caps;
}
.project-pic{
  width: 100%;
    height: auto;
}

.projects a{display: inline;}
.projects p{margin-top:10px;}

#f-logo { width: 10%;
  height: auto;}
footer {
    background:linear-gradient(90deg, rgba(232,247,244,1) 0%, rgba(36,48,88,1) 100%);
    padding: 20px;
    text-align: center;
    position:relative;
    z-index: 2;   
}
time {
    font-size:20px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
